Hello <%= @user.username %>,

Welcome to DesiHackerNews. This is an attempt to cultivate an India-centric technology/startup community around link aggregation and discussion. 

Please go through the <a href="https://hackernews.desi/about"> about page</a> to know more about this endeavor. 

Cheers,
Ashwin M