li .byline a.story_has_suggestions {
	color: #bd6060;
}

a.tag_announce, a.tag_ask, a.tag_show, a.tag_interview {
	background-color: #f9ddde;
	border-color: #f0b2b8;
}

span.hat_openbsd_developer span.crown {
	font-family: comic sans ms, comic sans, comic neue, sans-serif;
	font-size: 7pt;
}

span.hat_sysop {
	border-color: #bbb2b2;
}
span.hat_sysop span.crown {
	background-color: #ddc7c7;
}

#l_holder {
	position: relative;
}
#l_holder:after {
	content: '';
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGZQTFRFAAAA+/v7+/v7+/v7+/v7+/v7////+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7/Pz8+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7jbmI4AAAACJ0Uk5TAGTfz6wvA//boKW5+1iDHNr1GGBlIZohm2YZ4ZnwWni6OqeC+FMAAABUSURBVHicY2AgCzAyAQEzCytcgI2dg5OLm4eHFy7Czgck+AUEhVAEGITZRVAFRNnFUAXE2SVQBSTRtEhJ8yAMZZaRYZFll4Px5dlBQEGRPG8xMAAAk4sDVlV28VEAAAAASUVORK5CYII=) no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@media
only screen and (min-resolution: 2dppx),
only screen and (-webkit-min-device-pixel-ratio: 2) {
	#l_holder {
		background: #ee0000 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJlQTFRFAAAA+/v7+/v7+/v7+vr6+/v7////+/v7+/v7+/v7+/v7+/v7+vr6+/v7+/v7+/v7+/v7/Pz8+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+vr6+vr6+/v7+/v7+/v7/Pz8+/v7+vr6+/v7+/v7+/v7+/v7+/v7+/v7/////Pz8////+/v7+/v7/Pz8/Pz8+/v7+/v7+/v7////rSATewAAADN0Uk5TALO/pZlwDK7/rBfvOX9NXGaA8C4madlnVN+USz06UUs8ldrgaGL88QgsCWG7QF2EoFcEAIgGegAAAKBJREFUeJzd0skSgjAQBNBxw3aLO66Iivuu//9xTqo4BCY1nHUuSdPvACRE/zSlcjqVai3wgTqcaTQlCFyAVlsKftwxxnR7/YElQx8Ypdsx70MN0ITDVAMUAjMVzDnlPzYDFpyWGog4mSKw0kDMaa2BTdFLboGEFGB/1E4B+wNwPHnA2a6X680e1j3fU+a48RD9062TSPTufXm9P6L/9fkC/A0LMqbGBN0AAAAASUVORK5CYII=) no-repeat;
		background-size: 16px;
		background-position: 1px 1px;
	}
}
