<div class="box wide">
  <div class="legend">
    Privacy Policy
  </div>
  <p>
    This site has some basic privacy measures in place to protect your personal information.
  </p>
  <p>
  In regards to your data, none of your information is (and will never be) shared publically or with any third party, unless required by law. The only user data that is stored are your email address and username. Passwords are encrypted and hashed, so not even server administrators can view them in the database.
</p>
<p>
  As you may have already noticed, our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
</p><p>
  We use a selfhosted <a href="https://github.com/plausible/analytics">plausible analytics</a> service. It doesn’t use cookies and is fully compliant with GDPR, CCPA and PECR.
</p>
  <p>
  (Unless you are <a href="https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act">under 13</a>, in which case you are not allowed here.)
  </p>
</div>
